{% extends 'base.html.twig' %}

{% block title %}{{ 'title.home'|trans }}{% endblock %}

{% block body %}

    <!-- FAQ Area -->
    <section class="faq-section pt-100 pb-100">
        <div class="container">
            <div class="faq-top">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="bixol-title-area">
                            <span class="bixol-subtitle">FAQ</span>
                            <h3>You can learn more form our <span>asked questions</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bf-desc">
                            <p>At vero eos et accusamus et iusto odio digni goiku sendeno ssimos ducimus qui blanditiis praese. Ntium voluum deleniti atque corrupti quos. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-wrapper">
                            <div class="accordion" id="faq-accordion">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapseOne" data-bs-toggle="collapse">What should I include in my personal statement? </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapseTwo" data-bs-toggle="collapse">Will membership plans be charged automatically?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapseThree" data-bs-toggle="collapse">How can I make a change to my application?</a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-wrapper">
                            <div class="accordion" id="faq-accordion2">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapsfour" data-bs-toggle="collapse">What should I include in my personal statement? </a>
                                    </div>

                                    <div id="collapsfour" class="collapse show" data-bs-parent="#faq-accordion2">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapsefive" data-bs-toggle="collapse">Will membership plans be charged automatically?</a>
                                    </div>

                                    <div id="collapsefive" class="collapse" data-bs-parent="#faq-accordion2">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <a href="#collapsesix" data-bs-toggle="collapse">How can I make a change to my application?</a>
                                    </div>

                                    <div id="collapsesix" class="collapse" data-bs-parent="#faq-accordion2">
                                        <div class="accordion-body">
                                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book areIt hasear</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ Contact -->
    <section class="faq-contact pb-150">
        <div class="container">
            <div class="faq-contact-top">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="bixol-title-area">
                            <h3>Still have you any problem <span>for solutions? </span></h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bf-desc">
                            <p>For any inquiries relating to my  Retail and Leadership Programs or Coaching and Mentoring services feel free to speak to me personally by call us during business hours.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-contact-bottom">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="faq-contact-left">
                            <div class="faq-contact-item">
                                <div class="icon-wrapper">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                </div>
                                <div class="faq-address-content">
                                    <h5>Head office address:</h5>
                                    <p>3556 Hartford Way Vlg, Mount Pleasant, SC, 29466, Australia.</p>
                                </div>
                            </div>
                            <div class="faq-contact-item">
                                <div class="icon-wrapper">
                                    <span><i class="fas fa-phone-alt"></i></span>
                                </div>
                                <div class="faq-address-content">
                                    <h5>Call for help:</h5>
                                    <p>(734)697-2907</p>
                                    <p>(843)971-1906</p>
                                </div>
                            </div>
                            <div class="faq-contact-item">
                                <div class="icon-wrapper">
                                    <span><i class="fas fa-envelope"></i></span>
                                </div>
                                <div class="faq-address-content">
                                    <h5>Mail for inoformation</h5>
                                    <p>noreply@envator.com</p>
                                    <p>noreply@envator.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="faq-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="name-field">
                                            <label for="fname">First name *</label>
                                            <input type="text" id="fname" placeholder="Type your first name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mail-field">
                                            <label for="lname">Last name *</label>
                                            <input type="text" id="lname" placeholder="Type your last name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="subject-field">
                                            <label for="subject">Select a subject to get help *</label>
                                            <select id="subject">
                                                <option>Toilet cleaning</option>
                                                <option>House cleaning</option>
                                                <option>Office cleaning</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="email-field">
                                            <label for="email-field">Your mail address *</label>
                                            <input type="email" id="email-field" placeholder="Type mail address">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="message-field">
                                            <label for="message">Meesage*</label>
                                            <textarea placeholder="Type message*" rows="8" id="message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-btn">
                                    <button type="submit"><i class="fas fa-check-circle"></i>Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}