{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- service details -->
    <section class="service-details pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sr-sidebar">
                        {#
                        <div class="sidebar-widget sr-list-widget">
                            <div class="widget-title">
                                <h5>Nos services</h5>
                            </div>
                            <div class="list-nav">
                                <ul><li><a href="service-details.html">rtrttrrtrt</a></li></ul>
                            </div>
                        </div>
                        #}
                        <div class="sidebar-widget sr-btn-widget" data-background="{{ asset('assets/images/services/sr-widget-bg.jpg') }}">
                            <span class="subtitle">PDF Files</span>
                            <h5>Download Brochures</h5>
                            <div class="download-btns">
                                <a href="#" class="btn-1">Company Brochure<span><i class="far fa-file-pdf"></i> </span></a>
                                <a href="#" class="btn-2">Company Brochure<span><i class="far fa-file-pdf"></i> </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="sr-details-content">
                        <div class="title-txt">
                            <h3>la qualité, l'écologie et la satisfaction client</h3>
                        </div>
                        <div class="pera-text mb-20 mt-20">
                            Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leur offrir des services personnalisés qui répondent à leurs exigences spécifiques en matière de nettoyage. Nous sommes déterminés à offrir un service clientèle exceptionnel et à établir des relations à long terme avec nos clients basées sur la confiance, la fiabilité et la qualité de nos services.
                        </div>
                        <div class="title-txt">
                            <h4>Garantir la satisfaction de nos clients.</h4>
                        </div>
                        <div class="pera-text mb-20 mt-20">
                            En tant qu'entreprise de nettoyage, notre priorité absolue est de garantir la satisfaction de nos clients. Nous comprenons que chaque client a des besoins uniques, c'est pourquoi nous nous efforçons de personnaliser nos services pour répondre aux attentes spécifiques de chaque client.
                        </div>

                        <div class="title-txt"><h4>Entreprise réactive et disponible.</h4></div>
                        <div class="pera-text mb-20 mt-20">
                            Notre entreprise de nettoyage est fière d'être réactive et disponible pour répondre aux besoins de nos clients. Nous sommes toujours prêts à répondre à vos demandes et à planifier nos services de nettoyage en fonction de vos horaires et de vos besoins spécifiques. Que ce soit pour un nettoyage régulier ou pour une intervention d'urgence
                        </div>


                        <div class="title-txt"><h4>un climat de confiance.</h4></div>
                        <div class="pera-text mb-20 mt-20">
                            Un climat de confiance est essentiel pour une entreprise de nettoyage, car elle est souvent responsable de la propreté et de l'entretien des locaux de ses clients. Pour instaurer cette confiance, l'entreprise doit démontrer son expertise et son professionnalisme en fournissant des services de qualité supérieure.
                        </div>

                        <div class="title-txt"><h4>notre engagement environnemental.</h4></div>
                        <div class="pera-text mb-20 mt-20">
                            En tant qu'entreprise de nettoyage, nous sommes conscients de notre impact sur l'environnement et nous nous engageons à réduire notre empreinte écologique. Pour atteindre cet objectif, nous avons mis en place des pratiques durables telles que l'utilisation de produits de nettoyage écologiques, la réduction de notre consommation d'eau et d'énergie, et la gestion responsable des déchets. Nous cherchons également à sensibiliser nos employés et nos clients à l'importance de la durabilité environnementale et à encourager leur participation active à nos efforts de protection de l'environnement. Nous sommes fiers de notre engagement environnemental et nous continuerons à explorer de nouvelles façons de minimiser notre impact sur la planète.
                        </div>

                        <div class="title-txt"><h4>Assurer la santé et la sécurité au travail.</h4></div>
                        <div class="pera-text mb-20 mt-20">
                            Assurer la santé et la sécurité au travail est une priorité essentielle pour toute entreprise de nettoyage. Cela implique la mise en place de mesures visant à prévenir les accidents et les maladies professionnelles, ainsi qu'à promouvoir un environnement de travail sûr et sain pour tous les employés. Les mesures concrètes peuvent inclure la fourniture d'équipements de protection individuelle, la formation des employés sur les bonnes pratiques de travail, la mise en place de procédures d'urgence claires et la mise en place d'un système de gestion de la santé et de la sécurité au travail.
                        </div>

                        <div class="title-txt"><h4>Croître la performance de nos agents.</h4></div>
                        <div class="pera-text mb-20 mt-20">
                            Pour augmenter la performance de vos agents de nettoyage, il est important de mettre en place une formation continue qui leur permettra d'acquérir de nouvelles compétences et de rester au fait des dernières tendances en matière de nettoyage. En outre, il est essentiel de fournir à vos agents des outils et des équipements modernes qui leur faciliteront la tâche et leur permettront de travailler de manière plus efficace. Enfin, il est crucial de créer un environnement de travail sain et motivant, en offrant des récompenses et des incitations pour leur travail acharné et leur engagement envers l'entreprise. En adoptant ces mesures, vous pourrez non seulement améliorer la performance de nos agents.
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Service Details End -->

{% endblock %}