
<section class="bixol-ct-section pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column bx-col-line">
                    <div class="bixol-icon-wrapper">
                        <span><i class="flaticon flaticon-garment"></i></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer" data-value="2542">000</span><sup>+</sup></h3>
                        <span class="subtitle">{% trans %}Client satisfait{% endtrans %}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column bx-col-line">
                    <div class="bixol-icon-wrapper">
                        <span><i class="flaticon flaticon-meeting"></i></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer" data-value="282">000</span><sup>+</sup></h3>
                        <span class="subtitle">{% trans %}Expert de notre équipe{% endtrans %}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column bx-col-line">
                    <div class="bixol-icon-wrapper">
                        <span><i class="flaticon flaticon-screen"></i></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer" data-value="285">000</span><sup>+</sup></h3>
                        <span class="subtitle">{% trans %}Clients{% endtrans %}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column">
                    <div class="bixol-icon-wrapper">
                        <span><i class="flaticon flaticon-trophy"></i></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer" data-value="27">000</span><sup>+</sup></h3>
                        <span class="subtitle">{% trans %}parutions dans les médias{% endtrans %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
