        <!-- Case Study -->
        <div class="bixol-case-study pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="bixol-ct-left" data-background="assets/images/home1/map-bg.png">
                            <span class="ct-title">80<sup>+</sup></span>
                            <span class="ct-subtitle">Partners in world wide</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bixol-ct-right">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 p-0 grid-item">
                                    <div class="bixol-pt-item">
                                        <img src="assets/images/home1/partner-6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Case Study End -->